In [1]:
!pip install coremltools

Collecting coremltools
  Downloading coremltools-7.1.tar.gz (1.2 MB)
     ---------------------------------------- 1.2/1.2 MB 920.6 kB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy>=1.14.5 in c:\users\91821\anaconda3\lib\site-packages (from coremltools) (1.24.3)
Collecting protobuf<=4.0.0,>=3.1.0 (from coremltools)
  Obtaining dependency information for protobuf<=4.0.0,>=3.1.0 from https://files.pythonhosted.org/packages/8d/14/619e24a4c70df2901e1f4dbc50a6291eb63a759172558df326347dce1f0d/protobuf-3.20.3-py2.py3-none-any.whl.metadata
  Downloading protobuf-3.20.3-py2.py3-none-any.whl.metadata (720 bytes)
Requirement already satisfied: sympy in c:\users\91821\anaconda3\lib\site-packages (from coremltools) (1.11.1)
Requirement already satisfied: tqdm in c:\users\91821\anaconda3\lib\site-packages (from coremltools) (4.65.0)
Requirement already satisfied: packaging in c:\users\91821\anaconda3\lib\site-packages (from coremltools) (23.1)
Requirement already satisfied: attrs>=21.3.0 in c:\users\91821\appdata\roaming\python\python311\site-packages (from coremltools) (23.2.0)
Collecting cattrs (from coremltools)
  Obtaining dependency information for cattrs from https://files.pythonhosted.org/packages/b3/0d/cd4a4071c7f38385dc5ba91286723b4d1090b87815db48216212c6c6c30e/cattrs-23.2.3-py3-none-any.whl.metadata
  Downloading cattrs-23.2.3-py3-none-any.whl.metadata (10 kB)
Collecting pyaml (from coremltools)
  Obtaining dependency information for pyaml from https://files.pythonhosted.org/packages/70/d9/6fdc01cee01fe56fddfd46892d9846ebb53a5f8eb78056955c516eef42c5/pyaml-24.4.0-py3-none-any.whl.metadata
  Downloading pyaml-24.4.0-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: PyYAML in c:\users\91821\appdata\roaming\python\python311\site-packages (from pyaml->coremltools) (6.0.1)
Requirement already satisfied: mpmath>=0.19 in c:\users\91821\anaconda3\lib\site-packages (from sympy->coremltools) (1.3.0)
Requirement already satisfied: colorama in c:\users\91821\appdata\roaming\python\python311\site-packages (from tqdm->coremltools) (0.4.6)
Downloading protobuf-3.20.3-py2.py3-none-any.whl (162 kB)
   ---------------------------------------- 162.1/162.1 kB ? eta 0:00:00
Downloading cattrs-23.2.3-py3-none-any.whl (57 kB)
   ---------------------------------------- 57.5/57.5 kB ? eta 0:00:00
Downloading pyaml-24.4.0-py3-none-any.whl (24 kB)
Building wheels for collected packages: coremltools
  Building wheel for coremltools (setup.py): started
  Building wheel for coremltools (setup.py): finished with status 'done'
  Created wheel for coremltools: filename=coremltools-7.1-py3-none-any.whl size=1528750 sha256=c056379f5cc826d5c79e143556deb726215c970b1d0b183e9a6ea75ad02b3e92
  Stored in directory: c:\users\91821\appdata\local\pip\cache\wheels\b5\be\0b\b04dc961d718b3df18613f5232079dc713c20ce21fd386fc44
Successfully built coremltools
Installing collected packages: pyaml, protobuf, cattrs, coremltools
Successfully installed cattrs-23.2.3 coremltools-7.1 protobuf-3.20.3 pyaml-24.4.0

In [2]:
from sklearn import datasets
import pandas as pd

In [3]:
boston=datasets.load_boston()

ImportError:
`load_boston` has been removed from scikit-learn since version 1.2.

The Boston housing prices dataset has an ethical problem: as
investigated in [1], the authors of this dataset engineered a
non-invertible variable "B" assuming that racial self-segregation had a
positive impact on house prices [2]. Furthermore the goal of the
research that led to the creation of this dataset was to study the
impact of air quality but it did not give adequate demonstration of the
validity of this assumption.

The scikit-learn maintainers therefore strongly discourage the use of
this dataset unless the purpose of the code is to study and educate
about ethical issues in data science and machine learning.

In this special case, you can fetch the dataset from the original
source::

    import pandas as pd
    import numpy as np

    data_url = "http://lib.stat.cmu.edu/datasets/boston"
    raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
    data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
    target = raw_df.values[1::2, 2]

Alternative datasets include the California housing dataset and the
Ames housing dataset. You can load the datasets as follows::

    from sklearn.datasets import fetch_california_housing
    housing = fetch_california_housing()

for the California housing dataset and::

    from sklearn.datasets import fetch_openml
    housing = fetch_openml(name="house_prices", as_frame=True)

for the Ames housing dataset.

[1] M Carlisle.
"Racist data destruction?"
<https://medium.com/@docintangible/racist-data-destruction-113e3eff54a8>

[2] Harrison Jr, David, and Daniel L. Rubinfeld.
"Hedonic housing prices and the demand for clean air."
Journal of environmental economics and management 5.1 (1978): 81-102.
<https://www.researchgate.net/publication/4974606_Hedonic_housing_prices_and_the_demand_for_clean_air>

In [42]:
boston_df=pd.read_csv("HousingData.csv")

In [43]:
boston_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [44]:
for col in boston_df.columns:
    print(col)

CRIM
ZN
INDUS
CHAS
NOX
RM
AGE
DIS
RAD
TAX
PTRATIO
B
LSTAT
MEDV

In [45]:
boston_df.isnull().sum()

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [49]:
boston_df=boston_df.dropna()

In [51]:
boston_df.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [52]:
X = boston_df.drop(['MEDV'], axis = 1)
Y = boston_df['MEDV']

In [53]:
X=boston_df[["CRIM","RM"]]

In [54]:
X

        CRIM     RM
0    0.00632  6.575
1    0.02731  6.421
2    0.02729  7.185
3    0.03237  6.998
5    0.02985  6.430
..       ...    ...
499  0.17783  5.569
500  0.22438  6.027
502  0.04527  6.120
503  0.06076  6.976
504  0.10959  6.794

[394 rows x 2 columns]

In [55]:
X.isnull().sum()

CRIM    0
RM      0
dtype: int64

In [56]:
X

        CRIM     RM
0    0.00632  6.575
1    0.02731  6.421
2    0.02729  7.185
3    0.03237  6.998
5    0.02985  6.430
..       ...    ...
499  0.17783  5.569
500  0.22438  6.027
502  0.04527  6.120
503  0.06076  6.976
504  0.10959  6.794

[394 rows x 2 columns]

In [57]:
X.describe()

             CRIM          RM
count  394.000000  394.000000
mean     3.690136    6.280015
std      9.202423    0.697985
min      0.006320    3.561000
25%      0.081955    5.879250
50%      0.268880    6.201500
75%      3.435973    6.605500
max     88.976200    8.780000

In [58]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 394 entries, 0 to 504
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CRIM    394 non-null    float64
 1   RM      394 non-null    float64
dtypes: float64(2)
memory usage: 9.2 KB

In [59]:
X.columns=["Crime","Rooms"]

In [60]:
X

       Crime  Rooms
0    0.00632  6.575
1    0.02731  6.421
2    0.02729  7.185
3    0.03237  6.998
5    0.02985  6.430
..       ...    ...
499  0.17783  5.569
500  0.22438  6.027
502  0.04527  6.120
503  0.06076  6.976
504  0.10959  6.794

[394 rows x 2 columns]

In [61]:
X.describe()

            Crime       Rooms
count  394.000000  394.000000
mean     3.690136    6.280015
std      9.202423    0.697985
min      0.006320    3.561000
25%      0.081955    5.879250
50%      0.268880    6.201500
75%      3.435973    6.605500
max     88.976200    8.780000

In [62]:
import pandas as pd
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn import metrics
import numpy as np
import coremltools

In [63]:
Y

0      24.0
1      21.6
2      34.7
3      33.4
5      28.7
       ...
499    17.5
500    16.8
502    20.6
503    23.9
504    22.0
Name: MEDV, Length: 394, dtype: float64

In [64]:
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=7)

In [65]:
def glm_boston(X,Y):
    print("Inplementing lr")
    lm=linear_model.LinearRegression()
    gml=lm.fit(X,Y)
    return gml

In [66]:
my_model=glm_boston(X_train,y_train)

Inplementing lr

In [67]:
coefs=[my_model.intercept_,my_model.coef_]

In [68]:
print("intercept is {0}".format(coefs[0]))

intercept is -29.767609362998922

In [69]:
print("coefs is {0}".format(coefs[1]))

coefs is [-0.2386682  8.4537327]

In [71]:
y_pred=my_model.predict(X_test)

In [75]:
print(f"mae={metrics.mean_absolute_error(y_test,y_pred)}")

mae=4.121524396356966

In [76]:
print(f"mse={metrics.mean_squared_error(y_test,y_pred)}")

mse=31.129961919217894

In [77]:
print(f"r-squared={metrics.r2_score(y_test,y_pred)}")

r-squared=0.6601468218177813

In [79]:
sample={"crime":X_test.iloc[0]['Crime'],
       "rooms":X_test.iloc[0]['Rooms']}
ypred_sample=y_pred[0]

In [80]:
print(f"property with {sample} is valued {ypred_sample} thousand dollars")

property with {'crime': 11.1604, 'rooms': 6.629} is valued 23.6085520947986 thousand dollars

In [81]:
sample1={"crime":X_test.iloc[3]['Crime'],
       "rooms":X_test.iloc[3]['Rooms']}
ypred_sample1=y_pred[3]

In [82]:
print(f"property with {sample1} is valued {ypred_sample1} thousand dollars")

property with {'crime': 7.83932, 'rooms': 6.209} is valued 20.850620549207267 thousand dollars

In [89]:
!pip install --force-reinstall 'scikit-learn==0.19'

ERROR: Invalid requirement: "'scikit-learn==0.19'"

In [88]:
coreml_model = coremltools.converters.sklearn.convert(my_model,input_features=['crime','rooms'],output_feature_names='price')

NameError: name '_tree' is not defined

In [84]:
coreml_model.author = 'JRogel'
coreml_model.license = 'BSD'
coreml_model.short_description = 'Predicts the price of a house in the Boston area (1970s).'
coreml_model.save('PriceBoston.mlmodel')

NameError: name 'coreml_model' is not defined